In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from astropy.io import fits
from astropy.table import Table
import scipy.optimize as opt

In [ ]:
gliese = '/content/drive/MyDrive/Estrutura/codigos/gliese1991.fit'
catalogo = Table.read(gliese, hdu = 1)
catalogo

<Table length=3803>
 recno     Name        Sp        Vmag     Mv
                                 mag     mag
 int32    bytes8    bytes12    float32 float32
-------- -------- ------------ ------- -------
       1 Sun              G2 V  -26.72    4.85
       2 NN 3001           DC9   14.90   14.28
       3 GJ 1001          M3.5   12.84   12.93
       4 NN 3002          G2 V    6.11    4.56
       5 NN 3003          G9 V    7.82    5.78
       6 Gl 1             M4 V    8.54   10.27
       7 Gl 2           dM2  e    9.93    9.63
       8 NN 3004            G5    8.30    6.84
       9 Gl 3             K5 V    8.48    7.10
     ...      ...          ...     ...     ...
    3794 NN 4386            M7   12.82   11.48
    3795 NN 4387            M4   12.80   12.30
    3796 GJ 1293         dM1.5   10.80    8.76
    3797 NN 4388        K1 III    7.06    5.40
    3798 Wo 9848            K3   11.30    9.40
    3799 Gl 914           G3 V    5.81    5.31
    3800 Gl 914           K6 V    9.00    8.50
    3801 Gl 915            DA5   13.05   13.59
    3802 GJ 1294          M0 V    9.66    8.55
    3803 GJ 1294            --   10.60    9.50

In [ ]:
maga10 = catalogo[catalogo['Vmag'] <= 10]
maga3 = maga10[maga10['Vmag'] >= 3 ]
maga3

<Table length=823>
 recno     Name        Sp        Vmag     Mv
                                 mag     mag
 int32    bytes8    bytes12    float32 float32
-------- -------- ------------ ------- -------
       5 NN 3003          G9 V    7.82    5.78
       7 Gl 2           dM2  e    9.93    9.63
       9 Gl 3             K5 V    8.48    7.10
      11 Gl 4           dK6  e    8.97    8.67
      13 Gl 4.1           G5 V    6.43    4.77
      21 Wo 9003          K0 V    8.70    5.77
      25 Gl 6            F8 IV    6.21    4.53
      29 Gl 9.1         K0 III    3.88    2.90
      31 NN 3012            K7    9.48    7.79
     ...      ...          ...     ...     ...
    3757 Gl 907.1          dM0    9.86    8.08
    3759 Gl 908          M2 Ve    8.98   10.23
    3763 NN 4366          G7 V    8.36    5.35
    3765 Gl 908.1          dK8    9.34    7.75
    3775 Gl 910         dM0  e    9.74    8.32
    3783 NN 4377          K3 V    8.21    6.57
    3789 NN 4382           dG2    6.64    5.00
    3791 Gl 913          dM0.5    9.62    8.51
    3797 NN 4388        K1 III    7.06    5.40
    3799 Gl 914           G3 V    5.81    5.31

In [ ]:
F = maga3[maga3['Sp'][0] == "F"]
F

<Row index=0>
 recno     Name        Sp        Vmag     Mv
                                 mag     mag
 int32    bytes8    bytes12    float32 float32
-------- -------- ------------ ------- -------
       5 NN 3003          G9 V    7.82    5.78

In [ ]:
'''n = 0
for i in catalogo["Sp"]:
  n += 1
  if "F" in catalogo['Sp'] or "V" in catalogo['Sp']:
    print(i)
#  else:
 #   catalogo.remove_row([n])'''

In [ ]:
catalogo.write('gliese1991.csv', overwrite=True, delimiter = ',')

In [ ]:
data = pd.read_csv('gliese1991.csv', sep = ',')
data

      recno     Name      Sp   Vmag     Mv
0         1      Sun    G2 V -26.72   4.85
1         3  GJ 1001    M3.5  12.84  12.93
2         5  NN 3003    G9 V   7.82   5.78
3         7     Gl 2  dM2  e   9.93   9.63
4         9     Gl 3    K5 V   8.48   7.10
...     ...      ...     ...    ...    ...
1897   3795  NN 4387      M4  12.80  12.30
1898   3797  NN 4388  K1 III   7.06   5.40
1899   3799   Gl 914    G3 V   5.81   5.31
1900   3801   Gl 915     DA5  13.05  13.59
1901   3803  GJ 1294     NaN  10.60   9.50

[1902 rows x 5 columns]

In [ ]:
gliese2 = open('/content/Cópia_gliese - Página1.csv')
data = pd.read_csv(gliese2)
data

     Unnamed: 0   Sp  Vmag    Mv
0             1  F0V  9.75  9.40
1             2  F0V  8.38  6.80
2             3  F0V  5.00  3.40
3             4  F0V  4.18  3.04
4             5  F0V  3.46  3.43
..          ...  ...   ...   ...
160         161  F9V  5.64  4.70
161         162  F9V  6.69  3.76
162         163  F9V  4.61  3.41
163         164  F9V  6.00  4.54
164         165  F9V  5.34  4.10

[165 rows x 4 columns]

In [ ]:
mag = 0
n = 0
for i in data['Vmag']:
  mag += i
  n += 1
soma = mag
media = mag / n
print(soma)
print(media)

889.62
5.391636363636364

In [ ]:
mag2 = 0
n2 = 0
for i in data['Mv']:
  mag2 += i
  n2 += 1
soma2 = mag2
media2 = mag2 / n2
print(soma2)
print(media2)

644.6800000000004
3.9071515151515177